{{define "title"}}About{{end}}

{{define "main"}}
<h2>About</h2>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed massa erat, mollis eget molestie in, bibendum eu nisi. Sed egestas, est sit amet vulputate egestas, sapien leo ultricies risus, hendrerit efficitur massa ipsum id justo. Phasellus lacinia velit massa, efficitur feugiat dui venenatis id. Donec ut pretium arcu. Aenean non nisl sed tortor pretium hendrerit. Cras arcu nibh, venenatis nec porttitor non, vulputate non erat. Nulla nec diam et ante dignissim placerat in sed mi. Nullam rutrum, odio ultrices lobortis feugiat, risus tellus ultricies odio, vitae vehicula ligula leo feugiat elit. Mauris fringilla leo sagittis augue feugiat, vel pulvinar eros ullamcorper. Aenean volutpat lacus ut tellus gravida, ac dignissim sem porta. Nunc felis enim, porttitor vel dictum in, laoreet nec elit. 
{{end}}