{{define "title"}}Your Account{{end}}

{{define "main"}}
{{with .User}}
<table>
    <tr>
        <td><strong>Name</strong></td>
        <td>{{.Name}}</td>
    </tr>
    <tr>
        <td><strong>Email</strong></td>
        <td>{{.Email}}</td>
    </tr>
    <tr>
        <td><strong>Joined</strong></td>
        <td>{{humanDate .Created}}</td>
    </tr>
</table>
{{end}}
{{end}}